version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: chat-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: chat-personal
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: